body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%,90%);
}
.calculator{
    width: 500px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}

input{
    width: 486px;
    height: 80px;
    border: none;
    text-align: left;
    font-size: 4rem;
    font-weight: bold;
    background-color: hsl(0, 0%,20%);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 12px;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 15px;
    padding-left: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 3rem;
    background-color: hsl(0, 0%,30%);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%,40%);
}
button:active{
    background-color: hsl(0, 0%,50%);
}

.operator{
    background-color: hsl(39, 100%, 40%);
}
.operator:hover{
    background-color: hsl(39, 100%, 50%);;
}
.operator:active{
    background-color: hsl(39, 100%, 60%);
}